{% extends "app/LayoutLite.html" %}

{% block head %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/zTree/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/zTree/css/zTreeStyle/zTreeStyle.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui/jquery-ui.css' %}" />
<style type="text/css">
    .TreeArea{
        float:right;
        position:relative;
    }
    .TreeBox {
        float:left;
        position:relative;
    }
    .SelectedCategory
    {
        height: 100px;
        width: 200px;
        border: 1px solid rgba(204, 204, 204, 1);
    }
    #LecturerBox
    {
        float:left;
        position: relative;
    }
    .LecturerInfoBox
    {
        float:left;
        position: relative;
        width: 390px;
    }
    .LecturerTabPageImg{
        width: 135px;
        height: 180px;
        float:left;
        position: relative;
    }
    .LecturerTabPageName{
        float: left;
        position: relative;
        width: 390px;
    }
    .LecturerTabPageJob{
        float: left;
        position: relative;
        width: 390px；
    }
    .LecturerTabPageSummary{
        float: left;
        position: relative;
        width: 390px;
        height: 120px;
    }
    .LecturerTabPageBtnGroup{
        float: right;
        position: relative;
    }
     .LecturerTabPageImg{
        width: 160px;
        height: 120px;
        float:none;
        clear: both;
        position: relative;
    }
    .LecturerTabPageName{
        float: none;
        clear: both;
        position: relative;
        width: 390px;
    }
    .LecturerTabPageJob{
        float: none;
        clear: both;
        position: relative;
        width: 390px；
    }
    .LecturerTabPageSummary{
        float: none;
        clear: both;
        position: relative;
        width: 390px;
        height: 120px;
    }
    .LecturerTabPageBtnGroup{
        float: none;
        clear: both;
        position: relative;
    }
    .nav-tabs li.active a,.nav-tabs li.active a:hover,.nav-tabs li.active a:visited,.nav-tabs li.active a:focus {
        border: 0 none;
        background:rgba(66, 139, 202, 1);
        color:white;
        }
    #LecturerSendRes{
        color:green
    }
    .LecturerName{
        border: 1px solid #BEBEBE;
    }
    .LecturerName:empty:before{
        content:attr(placeholder);
        font-size: 16px;
        color: green;
    }
    .LecturerName:focus{
        content:none;
    }
    .LecturerJob{
        border: 1px solid #BEBEBE;
    }
    .LecturerJob:empty:before{
        content:attr(placeholder);
        font-size: 16px;
        color: green;
    }
    .LecturerJob:focus{
        content:none;
    }
    #CourseAbstractBox textarea{
        max-width:340px;
        width:340px;
        height:140px;
    }
</style>
<script src="{% static 'app/zTree/js/jquery.ztree.core.js' %}"></script>
<script src="{% static 'app/zTree/js/jquery.ztree.excheck.js' %}"></script>
<script src="{% static 'app/scripts/jquery.cookie.js' %}"></script>
<script src="{% static 'app/scripts/moment.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'app/jquery-ui/jquery-ui.js' %}"></script>
<script>
    //
    var TempletType = "{{ temvarTempletType|safe }}";
    var LecturerData = {{ temvarJsonLecturerData|safe }};
    var ThisLecturerData = {{ temvarThisLecturerData|safe }};
    var CurrentLecturerId = "";
    var AbstractData = {{ temvarJsonAbstractData|safe }};
    //
    var ThisDicStored={{temvarDicIdList|safe}};
    var ThisTYStored={{temvarTYIdList|safe}};
    var ThisDZStored={{temvarDZIdList|safe}};
    var ThisGXStored={{temvarGXIdList|safe}};
    var settingDic = {
        async: {
            enable: true,
            url: "http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=DicTreeZtree",
            autoParam: ["id", "name=n", "level=lv"],
            otherParam: { "method": "DicTreeZtree" },
            dataFilter: filter
        },
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "", "N": "" }
        },
        callback: {
            onCheck: DicOnCheck,
            onAsyncSuccess: function() 
            {
                var treeObj = $.fn.zTree.getZTreeObj("DicTree");
                $.each(ThisDicStored, function (index, value) {
                    $.get("http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=DicTreeNodeZtree&id=" + value, function (data, status) {
                        var pathList = data.split(";");
                        $.each(pathList, function (index, value) {
                            if (value != "") {
                                var PathNode = treeObj.getNodeByParam("id", value, null);;
                                if (PathNode) {
                                    treeObj.expandNode(PathNode, true, false, false);
                                }
                            }
                        });
                        var node = treeObj.getNodeByParam("id", value, null);
                        if (node) {
                            treeObj.checkNode(node, true, false, true);
                        }
                    });
                });
            }    
        },
        data: {
		key: {
			title: "id"
		    }
	    }
    };
    //
    //data = [{ id: '021', name: 'n1', isParent: true }, { id: '022', name: 'n2', isParent: false }, { id: '023', name: 'n3', isParent: true }, { id: '024', name: 'n4', isParent: false }];
    //$(document).ready(function () {
    //    var DicTreeData;
    //    $.ajax({
    //        type: 'get',
    //        dataType: 'text',
    //        data: '{}',
    //        async: true,
    //        url: 'http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=DicTreeZtree&id=1',
    //        success: function (data) {
    //            //alert(data);
    //            DicTreeData = JSON.parse(data);
    //            //alert(JSON.stringify(DicTreeData));
    //            $.fn.zTree.init($("#DicTree"), setting, DicTreeData);  
    //        },
    //        error: function (XMLHttpRequest, textStatus, errorThrown) {
    //            alert(XMLHttpRequest.status);
    //            alert(XMLHttpRequest.readyState);
    //            alert(textStatus);
    //        }
    //    });
    //});
    var settingDZ = {
        async: {
            enable: true,
            url: "http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=MainTreeZtree&RootId=8274501d5e094996be8868a0f1fd48fb",
            autoParam: ["id", "name=n", "level=lv"],
            otherParam: { "method": "TreeZtree" },
            dataFilter: filter
        },
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "", "N": "" }
        },
        callback: {
            onCheck: DZOnCheck,
            onAsyncSuccess: function() 
            {
                var treeObj = $.fn.zTree.getZTreeObj("DZTree");
                $.each(ThisDZStored, function (index, value) {
                    $.get("http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=MainTreeNodeZtree&id=" + value, function (data, status) {
                        var pathList = data.split(";");
                        $.each(pathList, function (index, value) {
                            if (value != "") {
                                var PathNode = treeObj.getNodeByParam("id", value, null);
                                if (PathNode) {
                                    treeObj.expandNode(PathNode, true, false, false);
                                }
                            }
                        });
                        var node = treeObj.getNodeByParam("id", value, null);
                        if (node) {
                            treeObj.checkNode(node, true, false, true);
                        }
                    });
                });
            }    
        },
        data: {
		key: {
			title: "id"
		    }
	    }
    };
    //
    var settingTY = {
        async: {
            enable: true,
            url: "http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=MainTreeZtree&RootId=63e9103fd1ac46558d816d4e79004e92",
            autoParam: ["id", "name=n", "level=lv"],
            otherParam: { "method": "TreeZtree" },
            dataFilter: filter
        },
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "", "N": "" }
        },
        callback: {
            onCheck: TYOnCheck,
            onAsyncSuccess: function() 
            {
                var treeObj = $.fn.zTree.getZTreeObj("TYTree");
                $.each(ThisTYStored, function (index, value) {
                    $.get("http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=MainTreeNodeZtree&id=" + value, function (data, status) {
                        var pathList = data.split(";");
                        $.each(pathList, function (index, value) {
                            if (value != "") {
                                var PathNode = treeObj.getNodeByParam("id", value, null);
                                if (PathNode) {
                                    treeObj.expandNode(PathNode, true, false, false);
                                }
                            }
                        });
                        var node = treeObj.getNodeByParam("id", value, null);
                        if (node) {
                            treeObj.checkNode(node, true, false, true);
                        }
                    });
                });
            }    
        },
        data: {
		key: {
			title: "id"
		    }
	    }
    };
    var settingGX = {
        async: {
            enable: true,
            url: "http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=MainTreeZtree&RootId=feadb61d3872441fb58209acb4274eb4",
            autoParam: ["id", "name=n", "level=lv"],
            otherParam: { "method": "TreeZtree" },
            dataFilter: filter
        },
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: { "Y": "", "N": "" }
        },
        callback: {
            onCheck: GXOnCheck,
            onAsyncSuccess: function() 
            {
                var treeObj = $.fn.zTree.getZTreeObj("GXTree");
                $.each(ThisGXStored, function (index, value) {
                    $.get("http://zjspedu.cei.com.cn/dataadapter/common.ashx?method=MainTreeNodeZtree&id=" + value, function (data, status) {
                        var pathList = data.split(";");
                        $.each(pathList, function (index, value) {
                            if (value != "") {
                                var PathNode = treeObj.getNodeByParam("id", value, null);
                                if (PathNode) {
                                    treeObj.expandNode(PathNode, true, false, false);
                                }
                            }
                        });
                        var node = treeObj.getNodeByParam("id", value, null);
                        if (node) {
                            treeObj.checkNode(node, true, false, true);
                        }
                    });
                });
            }    
        },
        data: {
		key: {
			title: "id"
		    }
	    }
    };
    var CourseId="{{ temvarCourseId|safe }}";
    var CourseProgress="{{ temvarCourseProgress|safe }}";
    var InternalCategoryListLv2={{ temvarInternalCategoryListLv2|safe }};
    $(document).ready(function(){
        if(AbstractData.length>0)
        {
            $.each(AbstractData, function(i, item)    
            {
                console.log(AbstractData);
                //:eq(i) [i] 均无效
                var ThisAbstractData = AbstractData.filter(function (e) { return e.index == i+1; });
                console.log(ThisAbstractData);
                $("#CourseAbstractbox textarea").eq(i).text(ThisAbstractData[0]["text"]);
            });
        }
        $.fn.zTree.init($("#DicTree"), settingDic);
        $.fn.zTree.init($("#DZTree"), settingDZ);
        $.fn.zTree.init($("#TYTree"), settingTY);
        $.fn.zTree.init($("#GXTree"), settingGX);
        $('#makedatetimepicker').datetimepicker({
            format: 'YYYY-mm-DD HH:MM:ss'
        });
        //$("#makedatetimepicker").val("{{temvarMakeDate}}");
        $("#SourceType").val("{{temvarType}}");
        $("#InternalCategory").val("{{temvarInternalCategoryIdTop}}");
        var InternalCategoryListLv2Current=InternalCategoryListLv2.filter(function (e) { return e.parent_id == "{{temvarInternalCategoryIdTop}}"; });  
        for(var i=0;i<InternalCategoryListLv2Current.length;i++){
            $("#InternalCategoryLevel2").append("<option value='"+InternalCategoryListLv2Current[i].InternalCategoryId+"'>"+InternalCategoryListLv2Current[i].name+"</option>");
        };
        $("#InternalCategoryLevel2").val("{{temvarInternalCategoryId}}");
        $("#InternalCategory").change(function(){
            if ($("#InternalCategory").val=="")
            { }
            else{
                $("#InternalCategoryLevel2").html("");
                $("#InternalCategoryLevel2").append("<option value=''>请选择二级内部栏目</option>");
                InternalCategoryListLv2Current=InternalCategoryListLv2.filter(function (e) { return e.parent_id ==$("#InternalCategory").val(); });  
                for(var i=0;i<InternalCategoryListLv2Current.length;i++){
                    $("#InternalCategoryLevel2").append("<option value='"+InternalCategoryListLv2Current[i].InternalCategoryId+"'>"+InternalCategoryListLv2Current[i].name+"</option>");
                }  
            }
        });
        //
        if (ThisLecturerData.length==1)
        {
            $("#LecturerTabBox").hide();
            $("#LecturerInfoBox").show();
            $("#LecturerUpdateBtn").show();
            $("#LecturerReSelectBtn").show();
            if(ThisLecturerData[0].ImgSrc!='')
            {
                $("#LecturerPic").attr("src",ThisLecturerData[0].ImgSrc);
            }
            else
            { 
                $("#LecturerPic").attr("src","{{temvarPicFilePath}}")
            }
            $("#LecturerNameInput").text(ThisLecturerData[0].name);
            $("#LecturerJobInput").text(ThisLecturerData[0].job);
            $("#LecturerSummaryText").text(ThisLecturerData[0].summary);
            CurrentLecturerId=ThisLecturerData[0].id;
        }
        if(LecturerData.length>=1){
            for(var o in LecturerData)
            {
            var LecturerTabPageId= "LecturerTabPage"+LecturerData[o].id;
            $("#LecturerTab").append("<li><a href='#"+LecturerTabPageId+"' data-toggle='tab'>"+ LecturerData[o].id +"</a></li>");
            $("#LecturerTabContent").append("<div class='tab-pane fade in active' id='"+LecturerTabPageId+"'></div>");
            $("#"+LecturerTabPageId).append("<img class='LecturerTabPageImg' src='"+LecturerData[o].ImgSrc +"'/>");
            $("#"+LecturerTabPageId).append("<div class='LecturerTabPageName'>"+LecturerData[o].name+"</div>");
            $("#"+LecturerTabPageId).append("<div class='LecturerTabPageJob'>"+LecturerData[o].job+"</div>");
            $("#"+LecturerTabPageId).append("<textarea class='LecturerTabPageSummary'>"+LecturerData[o].summary+"</textarea>");
            $("#"+LecturerTabPageId).append("<div class='btn-group btn-group-md LecturerTabPageBtnGroup'></div>");
            $("#"+LecturerTabPageId).children(".btn-group").append("<button type='button' class='btn btn-primary' onclick='$.SelectLecturerInfo("+(LecturerData[o].index)+")'>选中</button>");
            $("#"+LecturerTabPageId).children(".btn-group").append("<button type='button' class='btn btn-primary' onclick='$.AddLecturer()')'>新建</button>");
            }
        }
        if(LecturerData.length==0&&ThisLecturerData.length==0){
            $("#LecturerTabBox").hide();
            $("#LecturerInfoBox").show();
            $("#LecturerUpdateBtn").show();
            $("#LecturerReSelectBtn").hide();
        }
        $(function () {
            $('#LecturerTab li:eq(0) a').tab('show');
        });
        //
        /*按钮事件 OP*/
        //var csrftoken = $.cookie('csrftoken');//引入其他js后$失效
        var csrftoken=getCookie('csrftoken');
        /* $("#PassBtn").click(function () {
            $.ajax({
            type: 'POST',
            url: "/CourseMake/",
            dataType: "json",
            data: JSON.stringify({
                "id": CourseId
            }),
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                $("#PassPostbackNotice").text('已加入制作队列').hide(5000);
                //console.log(data.status); // 
            }
            });
        }); */
        $("#PassBtn").click(function () {
            if (TempletType=="NoSlide"){
                $.SubmitCourseForm("pass");
            }
            var JsonData = { "id": CourseId, "PageCount": 0 };
                $.ajax({
                    type: 'POST',
                    url: "/SubCheck/",
                    data: JSON.stringify(JsonData),
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        if (data["res"] == "pass") {
                            $("#PassPostbackNotice").show();
                            $("#PassPostbackNotice").text("基线测试通过，准备跳转").hide(3000);
                            $.SubmitCourseForm("pass");
                        }
                        else {
                            $("#PassPostbackNotice").show();
                            $("#PassPostbackNotice").text(data["res"]).hide(5000);
                        }
                    }
                });
        });
        $("#MakeBtn").click(function () {
            if (TempletType=="NoSlide"){
                $.SubmitCourseForm("make");
            }
            var JsonData = { "id": CourseId, "PageCount": 0 };
                $.ajax({
                    type: 'POST',
                    url: "/SubCheck/",
                    data: JSON.stringify(JsonData),
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        if (data["res"] == "pass") {
                            $("#PassPostbackNotice").show();
                            $("#PassPostbackNotice").text("基线测试通过，准备跳转").hide(3000);
                            $.SubmitCourseForm("make");
                        }
                        else {
                            $("#PassPostbackNotice").show();
                            $("#PassPostbackNotice").text(data["res"]).hide(5000);
                        }
                    }
                });
        });
        $("#SaveBtn").click(function () {
            $.SubmitCourseForm("save");
        });
        /*按钮事件 ED*/

	});
    /*Method OP*/
    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        for (var i = 0, l = childNodes.length; i < l; i++) {
            childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
        }
        return childNodes;
    }
    function DicOnCheck(event, treeId, treeNode) {
        //alert("知识树" + treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
        var id = "seleceted_" + treeNode.tId;
        if (treeNode.checked)
        {
            $("#SelectedDicTree").append("<span id='" + id + "'></span>");
            $("#SelectedDicTree").children("#" + id).text(treeNode.name+";");
            $("#SelectedDicTree").children("#" + id).attr("title",$("#"+treeNode.tId+"_a").attr("title"));
        }
        else
        {
            $("#SelectedDicTree").children("#" + id).remove();
        }
    };
    function TYOnCheck(event, treeId, treeNode) {
        //alert("TY" + treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
        var id = "seleceted_" + treeNode.tId;
        if (treeNode.checked)
        {
            $("#SelectedTYCategory").append("<span id='" + id + "'></span>");
            $("#SelectedTYCategory").children("#" + id).text(treeNode.name+";");
            $("#SelectedTYCategory").children("#" + id).attr("title",$("#"+treeNode.tId+"_a").attr("title"));
        }
        else
        {
            $("#SelectedTYCategory").children("#" + id).remove();
        }
    };
    function DZOnCheck(event, treeId, treeNode) {
        //alert("DZ" + treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
        var id = "seleceted_" + treeNode.tId;
        if (treeNode.checked)
        {
            $("#SelectedDZCategory").append("<span id='" + id + "'></span>");
            $("#SelectedDZCategory").children("#" + id).text(treeNode.name+";");
            $("#SelectedDZCategory").children("#" + id).attr("title",$("#"+treeNode.tId+"_a").attr("title"));
        }
        else
        {
            $("#SelectedDZCategory").children("#" + id).remove();
        }
    };
    function GXOnCheck(event, treeId, treeNode) {
        //alert("DZ" + treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
        var id = "seleceted_" + treeNode.tId;
        if (treeNode.checked)
        {
            $("#SelectedGXCategory").append("<span id='" + id + "'></span>");
            $("#SelectedGXCategory").children("#" + id).text(treeNode.name+";");
            $("#SelectedGXCategory").children("#" + id).attr("title",$("#"+treeNode.tId+"_a").attr("title"));
        }
        else
        {
            $("#SelectedGXCategory").children("#" + id).remove();
        }
    };
    $.SubmitCourseForm = function (mode) {

        $("#CourseInfoForm").attr("action","/CourseMake/?mode="+mode);  
        //Categories Dic
        var DicJson = [];
        $.each($("#SelectedDicTree span"), function (i, item) {
                var row = {};
                row.id = item.title;
                row.name = item.innerText.substr(0,item.innerText.length-1);
                DicJson.push(row);
        });
        //Categories TY
        var TYJson = [];
        $.each($("#SelectedTYCategory span"), function (i, item) {
                var row = {};
                row.id = item.title;
                row.name = item.innerText.substr(0,item.innerText.length-1);
                TYJson.push(row);
        });
        //Categories DZ
        var DZJson = [];
        $.each($("#SelectedDZCategory span"), function (i, item) {
                var row = {};
                row.id = item.title;
                row.name = item.innerText.substr(0,item.innerText.length-1);
                DZJson.push(row);
        });
        //Categories GX
        var GXJson = [];
        $.each($("#SelectedGXCategory span"), function (i, item) {
                var row = {};
                row.id = item.title;
                row.name = item.innerText.substr(0,item.innerText.length-1);
                GXJson.push(row);
        });
        //
        //var CategoryInput=$("<input type='text' name='categoryInput'/>");
        //CategoryInput.attr("value", "");
        //$("#CourseInfoForm").append(CategoryInput);
        $("#DicCategoryInput").attr("value", JSON.stringify(DicJson));
        $("#TYCategoryInput").attr("value", JSON.stringify(TYJson));
        $("#DZCategoryInput").attr("value", JSON.stringify(DZJson));
        $("#GXCategoryInput").attr("value", JSON.stringify(GXJson));
        if (($("#CourseTitle").val()==""||$("#CourseTitle").val()=="None"||$("#CourseTitle").val() == null
            ||$("#CourseGroup").val()==""||$("#CourseGroup").val()=="None"||$("#CourseGroup").val() == null
            //||$("KeyWords").val()==""||$("#KeyWords").val()=="None"||$("#KeyWords").val() == null
            ||$("#DicCategoryInput").val()=="[]"||$("#TYCategoryInput").val()=="[]"
            //||$("#DZCategoryInput").val()=="[]"
            )&& mode=="pass")
        {
            $("#PassPostbackNotice").text("填写不完整").hide(10000);
        }
        else{
        $("#CourseInfoForm").submit();
        }
    };
    //
    $.SelectLecturerInfo=function (DataId){
        $("#LecturerTabBox").hide();
        $("#LecturerInfoBox").show();
        $("#LecturerUpdateBtn").show();
        $("#LecturerReSelectBtn").show();
        $("#LecturerPic").attr("src",LecturerData[DataId].ImgSrc);
        $("#LecturerNameInput").text(LecturerData[DataId].name);
        $("#LecturerJobInput").text(LecturerData[DataId].job);
        $("#LecturerSummaryText").text(LecturerData[DataId].summary);
        CurrentLecturerId=LecturerData[DataId].id;
    };
    //
    $.ReSelectLecturer=function (){
        $("#LecturerTabBox").show();
        $("#LecturerInfoBox").hide();
        $("#LecturerUpdateBtn").hide();
        $("#LecturerReSelectBtn").hide();
    };
    $.AddLecturer=function (){
        CurrentLecturerId='';
        $("#LecturerTabBox").hide();
        $("#LecturerInfoBox").show();
        $("#LecturerUpdateBtn").show();
        $("#LecturerReSelectBtn").hide();
        //$("#LecturerPic").attr("src",'{{temvarPicFilePath}}');
        $("#LecturerNameInput").text('填姓名');
        $("#LecturerJobInput").text('填职务');
        $("#LecturerSummaryText").text('');
    };
    $.UpdateLecturer=function (){
        var form = new FormData(); 
        form.append("id",CurrentLecturerId);
        /*if ($("#LecturerPhotoInput").val() !='')
        {
            form.append("LecturerPhotoInput",$("#LecturerPhotoInput")[0].files[0]);
        }*/
        form.append('LecturerNameInput', $("#LecturerNameInput").text().trim());
        form.append('LecturerJobInput', $("#LecturerJobInput").text().trim());
        if ($("#LecturerSummaryText").val() && $("#LecturerSummaryText").val()!="")
        {
            form.append('LecturerSummaryText', $("#LecturerSummaryText").val().replace(/\r\n/g,'').replace(/\n/g,''));
        }
        else
        {
            form.append('LecturerSummaryText', $("#LecturerSummaryText").text().replace(/\r\n/g,'').replace(/\n/g,''));
        }
        form.append('CourseId',CourseId);
        //Ajax提交
        var csrftoken = $.cookie('csrftoken');
        $.ajax({
            url: "/UpdateLecturer/",//无结尾斜线：You called this URL via POST, but the URL doesn't end in a slash
            type: "POST",
            data: form,
            async: true,         //异步
            processData: false,  //很重要，告诉jquery不要对form进行处理
            contentType: false,  //很重要，指定为false才能形成正确的Content-Type
            //timeout: 3000000, //超时时间：30秒
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (result) {
                r=JSON.parse(result);
                if (r['res']=="success"){
                    CurrentLecturerId=r['id']
                    $("#LecturerReSelectBtn").hide();
                    $("#LecturerSendRes").show();
                    $("#LecturerSendRes").text('已保存!').hide(50000);
                    //console.debug("lecturer");
                    //$("#LecturerPic").attr("src",r['PicSrc']);
                }
                else{ 
                    $("#LecturerSendRes").show();
                    $("#LecturerSendRes").text(r['res']).hide(50000);
                }
            }
        });
    };
    $.UpdateCourseAbstract = function () {
        var csrftoken = $.cookie('csrftoken');
        var keywords= $("#KeyWordsInput").val();
        var JsonData = {"id": CourseId,"KeyWords":keywords,"AbstractText":[]};
        var i=1;
        $("#CourseAbstractbox textarea").each(function()
        {
            //text() chrome不更新
            JsonData["AbstractText"].push({"index":i,"text": $(this).val().replace(/\r\n/g,'').replace(/\n/g,'')});
            i++;
        });
        $.ajax({
            type: 'POST',
            url: "/UpdateCourseAbstract/",
            data: JSON.stringify( JsonData),
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                if(data["res"]=="success")
                {
                    $("#SaveAbstractDataState").show();
                    $("#SaveAbstractDataState").text("保存成功！").hide(5000);
                }
                //alert("已保存"); // 
                //console.log(data.status); // 
            }
        });
    };
    //
    //GetQuery
    (function ($) {
            $.getUrlParam
                = function (name) {
                    var reg
                        = new RegExp("(^|&)" +
                            name + "=([^&]*)(&|$)");
                    var r
                        = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]); return null;
                }
        })(jQuery);
    //GetCookie
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=")
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }
    //GetCookie
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end))
                }
            }
            return ""
        }
    /*Method ED*/
</script>
{% endblock %}

{% block content %}

    <div class="col-lg-4">
        <form id="CourseInfoForm" class="bs-example bs-example-form" role="form" method="post"><!--method不设置，表单get提交 -->
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">编号</span>
                <input id="CourseId" name="courseId" type="text" class="form-control" placeholder="" value="{{temvarCourseId}}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">题目</span>
                <input id="CourseTitle" name="title" type="text" class="form-control" placeholder="" value="{{temvarCourseTitle}}">
                <span class="input-group-addon">{{temvarEpisode}}</span>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">专题</span>
                <input id="CourseGroup" name="groupName" type="text" class="form-control" placeholder="" required="required" value="{{temvarGroupName}}">
            </div>
            <br/>
            {% comment %} <div class="input-group">
                <span class="input-group-addon">关键字(多个关键字用空格分隔)</span>
                <input id="KeyWords" name="keyWords" type="text" class="form-control" placeholder="" required="required" value="{{temvarKeyWords}}">
            </div> {% endcomment %}
            <br/>
            <div class="input-group">
                <span class="input-group-addon">时间（无特殊需求可留空）</span>
                <input type="text" class="form-control" id="makedatetimepicker" name="makeDate" value="{{temvarMakeDate|date:'Y-m-d H:i:s' }}">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon">来源</span>
                <select id="SourceType" name="sourceType" class="form-control"  required="required">
                    <option value="" selected="selected">选择来源类型</option>
                    <option value="a">自筹</option>
                    <option value="b">外拍</option>
                    <option value="c">采购</option>
                    <option value="s">单改三</option>
                    <option value="d">客户订制</option>
                    <option value="NorthOnly">客户项目</option>
                </select>
            </div>
            <br/>    
            <div class="input-group">
                <select id="InternalCategory" name="internalCategory" class="form-control"  required="required">
                    <option value="" selected="selected">选择一级内部分类</option>
                    {% for item in temvarInternalCategoryListTop %}
                    <option value="{{item.InternalCategoryId}}">{{item.name}}</option>
                    {% endfor %}
                </select>
                <select id="InternalCategoryLevel2" name="internalCategoryLevel2" class="form-control"  required="required">
                    <option value="">选择二级内部分类</option>
                </select>
            </div><!-- /input-group -->
            <br/>
            <div class="input-group" id="CategoryBox">
                <label for="name">发布栏目</label>
                <div id="SelectedDicTree" name="selectedDicTree" class="SelectedCategory"></div>
                <div id="SelectedTYCategory" name="selectedTYCategory" class="SelectedCategory"></div>
                <div id="SelectedDZCategory" name="selectedDZCategory" class="SelectedCategory"></div>
                <div id="SelectedGXCategory" name="selectedGXCategory" class="SelectedCategory"></div>
                <input type='text' id="DicCategoryInput" name='dicCategoryInput' hidden="hidden"/>
                <input type='text' id="TYCategoryInput" name='tyCategoryInput' hidden="hidden"/>
                <input type='text' id="DZCategoryInput" name='dzCategoryInput' hidden="hidden"/>
                <input type='text' id="GXCategoryInput" name='gxCategoryInput' hidden="hidden"/>
            </div>
            <br>
            <div class="btn-group btn-group-md">
                <button id="SaveBtn" type="button" class="btn btn-primary">保存</button>
                <button id="MakeBtn" type="button" class="btn btn-primary">审核通过（不发布）</button>
                <button id="PassBtn" type="button" class="btn btn-primary">审核并发布</button>
            </div>
            <div id="PassPostbackNotice"></div>
        </form>
    </div>
    {% comment %} <div id="LecturerInfoBox">
            <img id="LecturerPic" class='LecturerTabPageImg' src='{{temvarLecturerPic}}' />
            <div id="LecturerNameInput" class="LecturerName" contenteditable="true">{{temvarLecturerName}}</div>
            <div id="LecturerJobInput" class="LecturerJob" contenteditable="true">{{temvarLecturerPost}}</div>
            <textarea id="LecturerSummaryText" class="LecturerTabPageSummary">{{temvarLecturerIntro}}</textarea>
    </div> {% endcomment %}
    <div id="LecturerBox"  class="input-group">
        <label for="name">讲师信息：</label>
        <div id="LecturerTabBox" style="width:420px;">
            <ul id="LecturerTab" class="nav nav-tabs">
            </ul>
            <div id="LecturerTabContent" class="tab-content">
            </div>
        </div>
        <div id="LecturerInfoBox" style="">
            <img id="LecturerPic" class='LecturerTabPageImg' src='' style="display:none"/>
            <div id="LecturerNameInput" class="LecturerName" contenteditable="true" placeholder="请填写姓名"></div>
            <div id="LecturerJobInput" class="LecturerJob" contenteditable="true" placeholder="请填写职务"></div>
            <div>讲师简介：</div>
            <textarea id="LecturerSummaryText" class="LecturerTabPageSummary"></textarea>
        </div>
        <br> 
        <div class="btn-group btn-group-md">
            <button id="LecturerUpdateBtn" type="button" class="btn btn-primary" style="display:none" onclick="$.UpdateLecturer();">保存</button>
            <button id="LecturerReSelectBtn" type="button" class="btn btn-primary" style="display:none" onclick="$.ReSelectLecturer()">重选</button>
            <button id="LecturerAddBtn" type="button" class="btn btn-primary" style="display:none" onclick="$.AddLecturer()">添加</button>
        </div>
        <div id="LecturerSendRes">_</div>
        <div class="input-group">
            <label>关键字(多个关键字用空格分隔)</label><br/>
            <input id="KeyWordsInput" name="keyWords" type="text" class="form-control" size="50" placeholder="" required="required" value="{{temvarKeyWords}}">
        </div>
        <div id="CourseAbstractBox" class="input-group">
            <label for="name">课程简介（不分段）</label><br/>
            <textarea id="CourseAbstractText" class="form-control"></textarea>
        </div>
        <br>
        <div class="btn-group btn-group-md">
            <button id="" type="button" class="btn btn-primary" onclick="$.UpdateCourseAbstract()">保存</button>
        </div>
        <div id="SaveAbstractDataState"></div>
    </div>
    <div class="TreeArea">
    <div class="TreeBox">
        <div>知识树</div>
        <div id="DicTree" class="ztree" >Loading...</div>
    </div>
    <div class="TreeBox">
        <div>通用版</div>
        <div id="TYTree" class="ztree">Loading...</div>
    </div>
    <div class="TreeBox">
        <div>党政版</div>
        <div id="DZTree" class="ztree">Loading...</div>
    </div>
    <div class="TreeBox">
            <div>高校版</div>
            <div id="GXTree" class="ztree">Loading...</div>
        </div>
    </div>
{% endblock %}