{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/VideoSegment" >
        {% csrf_token %}
        <input class="col-md-6 form-control" type="text" value="{{ InputValuleId }}" name="id" />
        <label class="col-md-2 control-label">课件名称：{{ CourseTitle }}</label>
        <label class="col-md-2 control-label" for="TimeInput">输入分割点：</label>
        <input class="col-md-6 form-control" type="text" value="{{ InputValuleSegmentTime }}" id="TimeInput" name="time" />
        <input type="submit" class="btn btn-default" value="增加任务" />
    </form>

{% endblock %}